<div class="footer">
    <div class="footer_webmaster">
        <a href="mailto:rossattijunior@gmail.com">WebMaster - Rossatti Junior &copy; - @DateTime.Now.Year
        </a>        
    </div>    
</div>
