<!DOCTYPE html>
<html>
<head>
    <title>Micro Fórum em ASP.NET</title>
    <link href="~/styles/min.css" rel="stylesheet" />
</head>
<body>
    <h1>MicroForum para apresentação de ASP.NET com Razor v3</h1><hr />
    @RenderPage("~/inc/_header.cshtml")
    @RenderBody()
    @RenderPage("~/inc/_footer.cshtml")
</body>
</html>
