@{ 
    Layout = "~/inc/_layout.cshtml";
    if (Session["user"]== null)
    {
        Response.Redirect("~/index.cshtml");
    }
}
<div class="wrapper">

    @{
        if (!IsPost)
        {
            Response.Redirect("~/index.cshtml");
        }
        bool avancar = true;
        int id_posts = Convert.ToInt16(Request["p"]);
        string titulo = Request["txtTitulo"];
        string mensagem = Request["txtMensagem"];
        DateTime atualizacao = DateTime.Now;

        if ((titulo == string.Empty) || (mensagem == string.Empty))
        {
            <h1>ATENÇÃO !</h1><p>Preencha Corretamente TODOS os campos</p>
            avancar = false;
        }

        if (avancar)
        {
            if (!MicroForum.Dados.AlterarPosts(id_posts, titulo, mensagem, atualizacao))
            {
                <h1>ATENÇÃO !</h1><p>Ocorreu um Problema ao gravar o POST! Tente novamente!</p>
                avancar = false;
            }
            else
            {
                <h1>ATENÇÃO !</h1><p>Post gravado com SUCESSO!</p>
            }
        }
        <a href="~/posts/ListarPosts.cshtml?p=@id_posts">Voltar</a>
    }



</div>